.grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, auto-fit);
    grid-template-rows: repeat(auto-fit, auto-fit);
    margin-top: 100px;
   
    
}


html 
{
    font-size: clamp(14px, 1.2vw, 18px);
}

body
{
    margin: 0;
}

.navbar
{
    padding: 20px;
    grid-area: navbar;
    grid-column: 3 / 3;
    grid-row: 2 / 6;
    background-color: blue;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 20px;
    
    
  
   
    
}

.navbar span 
{
    color: white;
    font-family: Arial;
    font-size: 20px;
    
    
   

}

.navbar ul li
{
    color: white;
    font-family: Arial;
    font-size: 20px;
    display: block;
    justify-content: center;
}

.navbar ul 
{
   
   list-style: none;
}


.main
{
    grid-area: main;
    grid-column: 4 / 12;
    grid-row: 2 / 6;
    display: flex;
    justify-content: center;


    
}

.title-flex
{
    display: flex;
    justify-content: center;
    background-color: blue;
    border-radius: 30px;
    color: white;
}

.flex
{
    display: flex;
    justify-content: center;
    
}




.main table tr td
{
    border: solid 3px black;
    text-align: center;
    padding: 10px;
    font-size: clamp(0.9rem, 1vw, 1rem);
}

.main table
{   border-collapse: collapse;
    border: solid 3px black;

    
  
}

.main table tr td span
{
  font-weight: bold;
  color: blue;

}

.title
{
    font-size: clamp(3rem, 5vw, 5rem);
}

@media (max-width:1407px)
{
    .navbar
        {
            padding: 20px;
            grid-area: navbar;
            grid-column: 4 / 12;
            grid-row: 12 / 12;
            background-color: blue;
            border-radius: 30px;
            margin-right: 10px;
            margin-left: 20px;
            margin-top: 50px;
            
            
        
        
            
        }

    .navbar ul li
        {
            color: white;
            font-family: Arial;
            font-size: 20px;
          
        }

    .navbar ul 
    {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .navbar span 
    {
        display: flex;
        justify-content: center;
    }
    
}

@media (max-width:1205px)
{
    
    .main
    {
        grid-area: main;
        grid-column: 4 / 12;
        grid-row: 2 / 6;
        display: flex;
        justify-content: center;

        
    }

    
}

@media (max-width:794px)
{
    .main table tr td
        {
            border: solid 1px black;
            text-align: center;
            padding: 10px;
            font-size: clamp(0.5rem, 0.8vw, 0.8rem);
        }

        .main table
    {   border-collapse: collapse;
        border: solid 1px black;

        
    
    }
}